:root {
	--foreground: #FFFFFF;
	--background: #000000;
	--accents-1: #111;

	--accent: #FFEE00;
	--accent-light: #FFFCCC;

	--green: #1DB954;
	--green-light: #D2F1DD;

	--blue: color(display-p3 0 0 1 / 1);

	--red: #FF1A1A;
}

::selection {
	color: var(--background);
	background: var(--accent);
	text-decoration: none;
}
