:root {
	--padding: 0.3rem;
	--border-width: 2px;
}

body {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	float: none;
	max-width: 60rem;
	padding: 2rem;
}

main, header {
	display: inline-block;
}

.recording::before {
	content: "• ";
}

.recording:not([disabled]) {
	animation: recording 1s steps(1, end) infinite;
}

@keyframes recording {
	0% {
		color: var(--red);
	}
	50% {
		color: var(--foreground);
	}
	100% {
		color: var(--red);
	}
}
