:root {
	--padding: 0.3rem;
	--border-width: 2px;
	--font-size: clamp(1rem, 1.5rem, 3vw);

	font-size: var(--font-size);
}

h1 {
	font-size: calc(var(--font-size) * 2.67);
	color: var(--accent);
}

body {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	float: none;
	max-width: 60rem;
	padding: 2rem;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, transparent, var(--background));
    pointer-events: none;
}

main, header {
	display: inline-block;
}

.recording::before {
	content: "• ";
}

.recording:not([disabled]) {
	animation: recording 1s steps(1, end) infinite;
}

@keyframes recording {
	0% {
		color: var(--red);
	}
	50% {
		color: var(--foreground);
	}
	100% {
		color: var(--red);
	}
}

footer {
	color: var(--blue);
}
