#spotify {
	font-family: var(--font-berkeley);
}

#spotify > div {
	display: flex;
}

#spotify > div > button {
	background: var(--accents-1);
	color: var(--green);
	border: var(--border-width) solid var(--green);
	border-bottom: none;
	padding: var(--padding);
	font-family: var(--font-body);
	font-size: clamp(80%, var(--font-size) / 2, var(--font-size));
	text-transform: none;
	cursor: pointer;
}

#spotify > div > button:hover:not([disabled]) {
	color: var(--green-light);
}

#spotify > div > button[disabled] {
	color: var(--foreground);
	cursor: default;
}

#spotify > div > button:nth-child(1) {
	border-right: none;
}

#spotify-live > a {
	position: relative;
	--progress: 0%;
}

#spotify-live > a::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	bottom: 1px;
	background-image: linear-gradient(to right, var(--red) 50%, var(--green) 50%);
	background-size: 200% 100%;
	background-position: 100%;
	background-repeat: no-repeat;
}

#spotify-live > a:hover {
	--progress: 100% !important;
}

#spotify-live > a::after {
	background-position: calc(100% - var(--progress));
}

#spotify ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	border: var(--border-width) solid var(--green);
}

#spotify ul > li {
	padding: var(--padding);
}

#spotify ul > li > a {
	display: inline;
	vertical-align: top;
}

#spotify ul > li:nth-child(odd) {
	background: var(--accents-1);
}

ul > li > pre {
	display: inline;
}
