p {
	font-family: var(--font-serif);
}

section:first-of-type > h1 {
	margin-bottom: 0;
}

section:first-of-type > p:first-of-type {
	margin-bottom: 0;
}

section:first-of-type > p:last-child {
	font-family: var(--font-berkeley);
	color: var(--primary);
	margin: 0;
}
